
.hidden{
    display: none;
}

body, h1, h2, h3, p {
    font-family: 'Concert One', cursive;
    background-color: rgb(224, 212, 146);
}
.svg-container {
    display: flex;
    flex-direction: row;

}
.svg-container div {
    width: 50%;
    padding: 30px
} 
/*svg IDS*/

#orange:hover #orange-pulp {
    transition: 0.5s; 
    fill:rgb(203, 115, 129);
    }

#orange:hover #orange-pulp-light {
        transform: rotate(30deg);
        transform-origin:center;
        transition: 0.5s;
        fill: pink;
        }

#orange:hover #orange-crust{
    transform: rotate(30deg);
    transform-origin:center;
    transition: 0.5s;
}

#orange:hover #orange-crust_00000027606938720943960960000008965656755449224121_ {
    transform: rotate(30deg);
    transform-origin:center;
    transition: 0.5s; 
}
#orange:hover #shadow{
transform: rotate(30deg);
transform-origin:center;
transition: 0.5s; 
}


#grapefruit:hover #pulp{
    fill:rgb(143, 27, 69);

}
#grapefruit:hover #light-pulp{
    fill:rgb(233, 189, 218);
    transform:scale(10%);
    
}
#grapefruit:hover #rind_00000160158665487179808570000001998746016662261681_ {
    fill:rgb(244, 226, 193);
    transition: ease 0.7s;
}

#cart:hover #grid {
    transition: 0.4s;
    fill: grey;
   }

#passionfruit:hover #pulp{
    fill:antiquewhite;
    transform: rotate(20deg);
    transform-origin: middle;
}
#passionfruit:hover #seeds{
    fill:rgb(158, 111, 111);
 transform: rotate(20deg);
 transform-origin: middle;}