
.hidden{
    display: none;
}

body, h1, h2, h3, p {
    font-family: 'Concert One', cursive;
    background-color: rgb(224, 212, 146);
}
.svg-container {
    display: flex;
    flex-direction: row;

}
.svg-container div {
    width: 50%;
} 
/*svg IDS*/

#orange:hover #orange-pulp {
    transform: rotate(30deg);
    transform-origin:center;
    transition: 0.5s;
    fill:rgb(203, 115, 129)
    }

#orange:hover #orange-pulp-light {
        transform: rotate(30deg);
        transform-origin:center;
        transition: 0.5s;
        fill: pink;
        }

#orange-crust{}

